#shape1{background-color:yellow;
		width:50px;
		height:50px;
		transition: -webkit-transform 1s;
		position:absolute;
		border-radius:50px;}
#shape2{background-color:red;
	width:50px;
	height:50px;
	transition: -webkit-transform 1s;
	position:absolute;
	border-radius:50px;}
#shape3{background-color:green;
	width:50px;
	height:50px;
	transition: -webkit-transform 1s;
	position:absolute;
	border-radius:50px;}
	
	
	
	
.begin1{-webkit-transform:  translateX(100px);}
.begin2 {-webkit-transform:  translatey(100px);}
.begin3 {-webkit-transform:  translatey(100px) translateX(100px);}
	
	
