extends ../layout

block content

 div(class="col-md-6 links")
  h1(id="hoofdh1") Ask a question

  form(id="gebruiker")
   input(type="text", id="user", class="form-control", placeholder="Geef hier u naam in")
   button(type="submit", class="btn btn-default") verstuur

  form(id="vraag")
   h3(id="userh3")
   textarea(type="text", id="question", class="form-control", rows="5", placeholder="Stel u vraag hier")
   button(type="submit", class="btn btn-default") verstuur
 div(class="col-md-6 rechts")

  ul(id="questions")

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(src="/javascripts/messages.js")
  script(src="/socket.io/socket.io.js")