
body{background-color:#003;}

#headercontainer{background-color:white; border-radius:40px;width:600px;padding-bottom:10px;margin-left:25%;margin-top:100px; 
-webkit-animation: moveIt3 2s forwards;}

#headercontainer h1{-webkit-animation: moveIt2 2s forwards;}
#headercontainer p{-webkit-animation: moveIt2 2s forwards;}

.containerfoto{margin-left:30%;padding-top:20px;-webkit-animation: moveIt 2s forwards;transform-origin:left top;}


#containerfoto img{}

#foto1{	float:left;transition: -webkit-transform 1s;
}
#foto2{float:left;margin-left:20px;transition: -webkit-transform 1s;
}
#foto3{float:left;margin-left:20px;transition: -webkit-transform 1s;
}



#foto1:hover{-webkit-transform: scale(1.07);}
#foto2:hover{-webkit-transform: scale(1.07);}
#foto3:hover{-webkit-transform: scale(1.07);}

@-webkit-keyframes moveIt {
	0% {-webkit-transform:rotateY(90deg);}
	100% {-webkit-transform:rotateY(0deg);}
	
	}
	
	@-webkit-keyframes moveIt2 {
	0% {-webkit-transform:translateX(0px);}
	100% {-webkit-transform:translateX(100px);}
	
	}
	
	@-webkit-keyframes moveIt3 {
	0% {-webkit-transform:rotateX(90deg);}
	100% {-webkit-transform:rotateX(0deg);}
	
	}