*
{
    box-sizing: border-box;
}
.links h1
{
    color: white;
    background-color: red;
    text-align: center;
    padding: 10px 0;
    margin: 20px 0;
}

#gebruiker{margin-left:45%;}

#vraag
{
    display: none;
    margin-left:45%;
}

.rechts ul
{
    list-style: none;
    padding: 0;
}

.rechts ul li
{
    display: block;
    width: 100%;
    overflow: auto;
    margin: 15px 0;
}



.rechts ul li div
{
    display: block;
    width: 50%;
    border-radius: 5px;
    padding: 0 10px;
    float: right;
    background-color: cornflowerblue;
}

.rechts .post
{
    float: left;
    background-color: mediumpurple;
}

.rechts .new
{
    -webkit-animation: shake 1s 1 forwards;
    animation: shake 1s 1 forwards;
}

@-webkit-keyframes shake
{
    0% {}
    10% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }
    20% {
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
    30% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }
    40% {
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
    50% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }
    60% {
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
    70% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }
    80% {
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
    90% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

}

.rechts ul li div h1
{
    font-size: 12px;
    margin: 10px 0;
}